main {
    border: solid black 1px;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
}

section p {
    float: left;
}

#wordToType, #score {
    border: solid blue 1px;
    max-width: 100px;
    margin: 50px;
    padding: 10px;
    text-align: center;
}

